@theme "solarized_alternate"
// @theme "Arc-Dark"
// @theme "blue"
// @theme "Adapta-Nokto"

* {
    background: rgba ( 0, 43, 55, 90 % );
    foreground: rgba ( 200, 216, 219, 100 % );
}

window {
    border-radius: 5px;
}

configuration {
    kb-accept-entry: "!Alt-Tab,!Alt+Alt_L,Alt+Return,Return";
    kb-row-down: "Alt+Tab,Alt+Down,Down";
    kb-row-up: "Alt+Up,Up";
}